/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.general-pane{
	-fx-padding: 10.0px;
	-fx-spacing: 15.0px;
}

.label{
	-fx-padding: 0.0 5.0 0.0 5.0;
}

.hbox-table{
	-fx-spacing: 5.0px;
	-fx-padding: 5.0 0.0 0.0 0.0;
}

.button-menu{
    -fx-padding: 5;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #d9d9d9;
}

.jfx-tab-pane .headers-region .tab-container .tab-label {
    -fx-text-fill: #000000;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-font-size: 15;
}