/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.general-pane{
	-fx-padding: 10.0px;
	-fx-spacing: 15.0px;
}

.button-panel{
	-fx-padding: 0.0 5.0 0.0 5.0;
	-fx-spacing: 5.0px;
}

.label{
	-fx-padding: 0.0 5.0 0.0 5.0;
}

.hbox-table{
	-fx-spacing: 5.0px;
	-fx-padding: 5.0 0.0 0.0 0.0;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #d9d9d9;
}

.jfx-tab-pane .headers-region .tab-container .tab-label {
    -fx-text-fill: #000000;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-font-size: 15.0;
}

.button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.button:selected{
	-fx-background-color: #d9d9d9;
	-fx-font-weight: BOLD;
}