/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.general-pane{
	-fx-padding: 10.0px;
}

.menu-panel{
	-fx-padding: 5.0 0.0 0.0 5.0;
	-fx-background-color: #e6e6e6;
}

.button-panel{
	-fx-padding: 0.0 0.0 5.0 0.0;
}

.toggle{
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.hbox-main{
	-fx-spacing: 15.0px;
}

.table-panel{
	-fx-padding: 5.0 0.0 0.0 0.0;
}

.label{
	-fx-padding: 0.0 5.0 0.0 5.0;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #cccccc;
}

.jfx-tab-pane .headers-region .tab-container .tab-label {
    -fx-text-fill: #000000;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-font-size: 15.0;
}

.hbox-tab {
    -fx-font-size: 12.0;
}

.button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-font-size: 14.0;
}

.button:selected, .button:hover{
	-fx-background-color: #cccccc;
	-fx-font-weight: BOLD;
}

.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;

    -fx-padding: 0 0 3 0;   
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #404040;
    -fx-font-size: 20px;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #1a1a1a;
}

.hbox-payment .label{
	-fx-font-weight: bold;
}

.jfx-text-area{
	-fx-border-color: gray;
}
